@charset "utf-8";


/*Außen- und Innenabstände auf 0 setzen*/

* {
	margin: 0;
    padding: 0;
   
 }
  

 
body {
      
      background: url(17156585.jpg)   ;
      line-height: 1.3;
      font-family: sans-serif;
      font-size: 100%;
	  padding: 0px;
	  margin: 0px;
}

/*Zentrierte Ausrichtung, Breite, abgerundete Ecken und Schatten*/


#Gesamt {
	  overflow:hidden;
	  width: 95%;
	  max-width: 800px;
	  min-width: 400px;
      margin: 1% auto;
	  border-radius: 0 0 20px 20px;
	 
}

.kopf {
      background-color:none ;
      color: rgba(0, 0, 0, 0.719) ; 
	  padding: 2%;
	  text-align:center;
}


 /*Mindesthöhe von 100px, Textausrichtung: Blocksatz*/
 
.inhalt {
     	background-color: rgba(255, 255, 255, 0.685);
	  	min-height: 100px;
	  	text-align: justify;
		padding: 9px;
		border-left: rgb(0, 0, 0) solid 1px;
		border-top: rgb(0, 0, 0) solid 1px;
		border-bottom: rgb(0, 0, 0) solid 1px;
        border-right:rgb(0, 0, 0) solid 1px;
}

/*Gestaltung der Hyperlink*/

a:link, a:visited {
      	color: #000000f1;
      	text-decoration: none;
		  
}


a:hover{
		color: rgb(255, 255, 255);
}
 
/*Automatische Größenänderung des Bildes*/

img {
		max-width: 100%;
} 


.navigation li {
	    display: inline-block;
		list-style: none;
}

.sprung {
	    display: block;
		text-align:center;
		height: 1.5em;
		color: #6315159a;
		overflow:hidden;
}
 p.fett:first-letter{
	 font-weight:bold;
	 font-size:2.4em;
 }
/*Höhenänderung auf 3em, Farbänderung und Transition*/
.sprung:hover {
	    height: 3em;
		color: #030302 ;
		padding-top: 10px;
		transition: 0.5s;
}


.sprung a{
	padding-right: 25px;
}
	 


	

/*Screen-Layout für Browsergrößen mit einer Mindestgröße von 500px*/
   
@media screen and (min-width: 500px) {
	  .sprung, .sprung:hover {
		overflow: visible;
		transition:none;
		padding-top: 0;
		height: 0px;
		text-align:left;
		font-size: 0;
	}
	
	  
	  .navigation {
		display: block;
        width: 26%;
		padding: 2%; 
        float: left;
		font-size: 1em;
		
       }
	   
	  
	  .inhalt {
        float: right;
		padding: 3%;
	    width: 63%; 
      }
	  .navigation ul {
	    padding-left: 6%;
	  }
	  .navigation li {
	    display: list-item;
		list-style: square;
		list-style-position:inside;
		border-bottom:#060706 dotted 2px;
		font-size: 18px;
		padding: 5% 0 0 1%;
		color: #080a06;
		
	  }

}

/*Druck-Layout*/

@media print {
	#Gesamt {
		border-radius: 0;
		padding: 10px;
	}
	
	
	img {
		width: 50%;
	}
	
	.sprung, .navigation, #rollover {
		display: none;
	}
	
	
	
	
} 


#rollover {
	clear: both;
	padding: 15px;
	float:right;
}
	

	
#rollover ul li {
	list-style:none;
	
}


#rollover li a{
	width:200px;
	height:62px;
	display: block;
	background: url(Bilder/powered_by.jpg);
	
	
}

#rollover  li a:hover{
	background: url(Bilder/infoteam-Logo-gruen_hg.jpg);
}	


/* ====================================
 Formular
==================================   */


form {
  width: 400px; /* Breite des Formulars */
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #8c8c8c;
}


label { /* Beschriftung auf eigener Zeile */
  display: block;
 
}

input#Name_U,
input#mail,
select,
textarea
 
 { 
  width: 300px;
  margin-bottom: 1em;
  border: 1px solid #8c8c8c;
}
